body{
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.logo{
  height: 1.25rem;
}

.d-block{
  height: 50vw;
  width: 100vw;
}

.contactos{
  color: #ffffff;
  text-decoration: none;
}

.cabeceraOscura{
  background-color: rgba(0, 0, 0, 0.4);
}
